
/* -------------------------------------------------------------
SCREEN
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, 
a, abbr, acronym, address, sup, del, dfn, 
em, img, q, dl, dt, dd, ol, ul, li, 
form, fieldset, label, legend, caption, 
table, tbody, tfoot, thead, tr, th, td 
{ font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; padding: 0; margin: 0; border: 0; vertical-align: baseline; }
body
{ background: #efefef; font: 12px/1.7em arial, sans-serif; }
hr 
{ border: none; border-bottom: #ccc 1px dotted; margin-bottom: 2em; margin-top: 1em; }
h1, h2, h3, h4, h5, h6 
{ color: #111; margin-bottom: .75em; }
h1 
{ font-size: 30px; line-height: 1em; }
h2 
{ font-size: 24px; color: #222; font-weight: normal; margin-bottom: 1em; }
h3 
{ font-size: 16px; color: #333; line-height: 1; margin-bottom: .75em; }
h4 
{ font-size: 14px; color: #666; line-height: 1.25; margin-bottom: 1.25em; }
h5 
{ font-size: 12px; font-weight: bold; margin-bottom: 1.5em; }
h6 
{ font-size: 11px; font-weight: bold; }
p 
{ margin: 0 0 1.5em; }
p.last 
{ margin-bottom: 0; }
blockquote 
{ margin: 1.5em; color: #666; font-style: italic; }
pre, code 
{ margin: 1.5em 0; white-space: pre; }
pre, code 
{ font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5; }
a 
{ color: #358; text-decoration: underline; }
a:visited 
{ color: #667; }
a:focus, a:hover 
{ color: #933; }
abbr, acronym 
{ border-bottom: 1px dotted #666; }
address 
{ margin-top: 1.5em; font-style: italic; }
sup 
{ font-size: 9px; vertical-align: top; }
del 
{ color: #666; }
dfn 
{ font-weight: bold; }
dfn, em 
{ font-style: italic; background: #ffc; }
img 
{ border: none; }
dl 
{ margin: 0 0 1.5em 0; }
dl dt 
{ font-weight: bold; }
dd 
{ margin-left: 1.5em; }
ul, ol 
{ margin-left: 28px; margin-bottom: 1.5em; }
li 
{ margin-bottom: .5em; }
ul li 
{ list-style-type: disc; }
li ul, li ol 
{ margin-top: 1em; }
strong 
{ font-weight: bold; }
table 
{ width: 100%; border: 0; margin-bottom: 2em; }
table th 
{ font-size: 13px; font-weight: bold; }
table td 
{ vertical-align: top; }
table thead th 
{ color: #fff; background-color: #263849 !important; border: 1px solid #ccc; border-width: 0 1px; text-align: left; padding: 10px 0; padding: 6px 10px; }
table tbody tr td 
{ background: #fff; border-bottom: 1px dotted #ddd; padding: 10px 10px 10px 20px; }
table tr:nth-child(odd) 
{ background-color: #f9f9f9; }
table tr:nth-child(even) 
{ background-color: #fff; }
table tr.even td 
{ background: #f9f9f9; }

form { padding: 0; margin: 0; }
form { padding:5px; overflow:auto; margin-bottom:20px; }
form { margin-bottom: 0px; }
form span.block-left,
form span.block-right { width: 550px; }
form span.block-left { float: left; margin-left: 40px; }
form span.block-right { float: left; margin-right: 40px; }

form .field { width: 100%; float: left; font-size: 90%; color: #777; }
form .field .controlset-pad label { color: #777; }
form .field_help { margin-left: 250px; }
form .field .field_help { margin-bottom:0; }
form label, 
form span.label { display: block; position: relative; float: left; color: #444; margin-right: 10px; padding-right: 10px; width: 230px; font-size: 110%; font-weight: bold; text-align: right; }
form #csv { border: solid 1px #ccc; background: transparent; }
form #csv tbody th { background: #ebebeb; padding: 6px 0;}
form #csv tbody th ,
form #csv tbody th label { color: #333; cursor: pointer; text-align: left; margin-left: 40px; }
form #csv tbody th.heading { font-weight: bold; padding-right: 8px; text-align: right; cursor: default; }
form #csv tbody td { border-top: 1px dotted #DDD; border-bottom: none; white-space: nowrap;}
form #csv tbody tr.first td { border-top: none; }
form #csv label { float: none; }
form #csv .checker { margin-left:10px; }
form #csv .check,
form #csv .checker { display: none; }
form #csv tbody th label { margin-left: 10px; }

form label em, 
form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
form input:focus,
form input.error:focus, 
form textarea:focus {	background-color: #FFC; border-color: #FC6;   outline:none !important; }
form .upload { margin-bottom: -5em;}
form .uploader { margin-bottom: .5em !important; }
form .buttonrow { float: right; margin-top: 1em; margin-bottom: 2.5em; margin-left: 145px; display: block; }
form .buttonrow { margin-left: 0; text-align: right; }
form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
form .field { margin-bottom: 1.5em; padding-top: 10px; }
form .field input,
form .field textarea { padding: 4px 5px; border: 1px solid #CCC; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
form .field textarea { min-height: 150px; overflow: auto; }
form .field input,
form .field textarea { color: #666; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; }

form .phone_field { margin-bottom: 0; }
form .phone_field input { margin-right: 0; }

form .xsmall { width: 50px; }
form .small { width: 100px; }
form .medium { width: 165px; }
form .large { width: 250px; }
form .xlarge { width: 335px; }

div.growlUI
{ padding: 10px; }
div.growlUI h1, div.growlUI h2 
{ color: #fff; text-align: center; }
div.growlUI h1
{ font-size: 18px; }
div.growlUI h2 
{ font-size: 14px; }


/* REDESIGN   */
form { XBACKGROUND:#ebebeb; }
form div { XBACKGROUND:#ccc; }
form label, 
form span.label { XBACKGROUND:#bbb; }
form label s, 
form span.label s{ color:#F50; position:relative; top:4px; left:-2px; font-size:20px; font-weight:bold; text-decoration:none; }




/* Label top styles */
.label-top .field label { width: 100%; display: block; text-align: left; }
.label-top .field span.label { width: 100%; display: block; float: left; text-align: left; position: relative; }
.label-top .field .field_help { margin-left: 0; font-size: 11px; }
.label-top .buttonrow { margin-left: 0; }
.label-top .selector { width: 100%; display: block; float: left; }

.form div.controlset label, 
.form div.controlset input { display: inline; float: none; }
.form .controlset label ,
.form .controlset span.group {color: #444444; font-size: 11px; font-weight: normal !important; }
.controlset { margin-bottom: 2.5em; float: left; }
.controlset .controlset-pad { width: 300px; float: left;  }



/* 610 REDESIGN */
form {
    padding: 0;
}




